<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 
 
  <bean id="emps" class="com.capg.labbook.exp1.Employee">
  <property name="empId" value="100"></property>
  <property name="empName" value="sai"/>
  <property name="empSalary" value="150000"/>
  <property name="bu" value="sales"/>
  <property name="empAge" value="22"/>
</bean>
</beans>